.layer {
    position: absolute;  
  }
.layer::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: close-quote;
  outline: solid 3px;
  outline-color: inherit;
  transform: translate(-50%, -50%);    
}

.P {
  outline: solid 3px black;
  z-index: -100;
}
.A {
  outline: dashed 3px blue;
  z-index: -200;
}
.C {    
  outline: dotted 3px red;
  z-index: -300;
}
.C > img {
  filter: drop-shadow(rgb(0, 0, 0) 5px 5px 4px);
}

