:root {
}
  
:root.is-transparent {
  background: transparent;
}
  
body {
  margin: 0;
  padding: 0;
}
  
#transport {
  position: absolute;
  left: 400px;
  top: 1090px;
  font-family: monospace;
  font-size: 30px;
}

#timecode {
  position: absolute;
  left: 100px;
  top: 1090px;
  font-family: monospace;
  font-size: 30px;
}

#play {
  position: absolute;
  left: 10px;
  top: 1090px;
  width: 40px;
  height: 30px;
}

#scene {
  width: 1920px;
  height: 1080px;
  contain: strict;
  background-image: url(../images/farm.png);
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-image: initial;
}
  
:root.is-transparent #scene {
  background: transparent;
}