:root {
}
:root.is-transparent {
  background: transparent;
}
:root.is-transparent #scene {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  position: absolute;
  z-index: inherit;
}  

#scene {
  width: 1920px;
  height: 1080px;
  contain: strict;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-image: initial;
}